* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.open-button {
  margin: auto;
  margin-top: 75px;
  background-color: #acacac43;
  backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
  width: 150px;
  border: 3px solid #318d64;
  padding: 10px;
}

.open-button1 {
  margin: auto;
  padding: 12px;
  padding-left: 47px;
  padding-right: 47px;
  text-decoration: none;
  color: rgb(23, 36, 32);
}
.btn1{
  height: 44px;
  background-color: #acacac43;
  border: 3px solid #973d89;
  backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
}

.btn2{
  height: 44px;
  background-color: #acacac43;
  border: 3px solid #4d3d97;
  backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
}

h1{
  color: rgb(47, 71, 58);
  /* margin: 20px 0; */
  padding-bottom: 20px;
  border-bottom: 1px dashed gray;
}

h1 span{
  display: block;
}
  
h1 span:nth-child(2){
  font-weight: normal;
  font-size: 50;
  color: rgb(23, 36, 32);
}
    
    

.animate {
  /* position: relative; */
  width: 100%;
  height: 100%;
  /* border: 3px solid red; */
  z-index: -1;
}
.title {text-align: center;margin-top: 92px}
.desc {text-align: center;margin: 30px}
.center {
  margin: 0;
  position: absolute;
  /* top: 50%; */
  left: 50%;
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}

.center1 {
  text-align: center;
  margin: 0;
  position: absolute;
  top: 65%;
  left: 50%;
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
} 

.center2 {
  text-align: center;
  margin: 0;
  position: absolute;
  top: 85%;
  left: 50%;
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
} 